$fontSize: 10px;
$fontFamily: "Londrina Solid", cursive;
$fontColor: #f8f1f1;
$siteBg: #557174;

$shadow: 0 0 10px rgba(0, 0, 0, 0.3);

//buttons
$buttonBg: #9dad7f;
$border: 2px solid $fontColor;
$lvlButtonSize: 64px;

//canvas props
$canvasWidth: 800px;
$canvasHeight: 650px;
